<!DOCTYPE html>
<html>
<head>
    <title>Редактирование филиала</title>
    <%- include('blocks/head') %>
    <style>.field{width:360px;}</style>
</head>
<body>
    <%- include('blocks/header') %>
    <h1>Редактирование филиала</h1>
     <form action="/filialuszn/edit" method="post">
        <label>№ филиала</label><br>
        <label><%= filialsUSZN.id %></label>
        <input name="id" value="<%= filialsUSZN.id %>" class="field" type="hidden"/><br><br>
        <label>Имя филиала</label><br>
        <input name="filial" value="<%= filialsUSZN.filial %>" class="field"/><br><br>
        <label>Город</label><br>
        <input name="town" value="<%= filialsUSZN.town %>" class="field"/><br><br>
        <label>Сервер</label><br>
        <input name="server" value="<%= filialsUSZN.server %>" class="field"/><br><br>
        <label>Порт</label><br>
        <input name="port" value="<%= filialsUSZN.port %>" class="field"/><br><br>
        <label>БД</label><br>
        <input name="db" value="<%= filialsUSZN.db %>" class="field"/><br><br>
        <label>Маска файла</label><br>
        <input name="filemask" value="<%= filialsUSZN.filemask %>" class="field"/><br><br>
        <label>E-mail</label><br>
        <input name="email" value="<%= filialsUSZN.email %>" class="field"/><br><br>
        <label>Файл</label><br>
        <input name="filename" value="<%= filialsUSZN.filename %>" class="field"/><br><br>
        <label>Номер заявки</label><br>
        <input name="ticket" value="<%= filialsUSZN.ticket %>" class="field"/><br><br>

        <input type="submit" value="Отправить"/>
     </form>
     <%- include('blocks/footer') %>
</body>
<html>
